* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0rem;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #050808;
  background-color: #ebf0f1;
}

header{
  padding: 10px;
  background-color: rgb(111, 192, 203);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

section{
padding: 20px;
}


.Tips{
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  letter-spacing: 1.5px;
}
span{
  font-size: large;
  color: dodgerblue;
}
span1{
  color: crimson;
}
.Nira{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  letter: spacing ;
}